<div class="main-content page-m">
    <div class="container">
        <div class="div1">
            <form #f=ngForm (ngSubmit)="resetPassword(f)">
                <p><label class="label-login">Reset</label></p>
                <div>
                    <p>{{message}}</p>

                    <div>
                        New Password : <input type="password" class="input-password" name="password1" ngModel required
                            pattern="(?=^.{5,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                            #pass1="ngModel">

                        <div *ngIf="pass1.invalid && (pass1.dirty || pass1.touched)" class="alert">

                            <div *ngIf="pass1.errors?.required">
                                Password is required.
                            </div>
                            <div style="color:rgb(255, 0, 0)" ng-show="pass1.errors?.pattern">Password should be at
                                least 5
                                characters
                                UpperCase, LowerCase, Number/SpecialChar
                            </div>

                        </div>

                        <div>


                            Repeat New Password : <input type="password" class="input-password" name="password2" ngModel
                                required pattern="(?=^.{5,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                                #pass2="ngModel">
                        </div>

                        <div *ngIf="pass2.invalid && (pass2.dirty || pass2.touched)" class="alert">
                            <div *ngIf="pass2.errors?.required">
                                Password is required.
                            </div>
                            <div style="color:rgb(255, 0, 0)" ng-if="pass2.errors?.pattern">Password should be at least
                                5
                                characters
                                UpperCase, LowerCase, Number/SpecialChar
                            </div>

                        </div>

                        <button type="submit" class="btn btn-success" [disabled]="(!pass1.valid)">
                            RESET
                        </button>
                    </div>
                </div>              
            </form>
        </div>
    </div>
    <a routerLink="/dashboard" class="mt-5">Back to Dashboard</a>
</div>